<nav class="navbar navbar-expand-lg navbar-height">
    <div class="container">

        <!-- Logo + Title Wrapper -->
        <div class="d-flex align-items-center navbar-brand-wrapper">
            <img src="/assets/images/logo/logo.png" alt="Shivshaswat Foundation Logo" class="logo me-2">
            <span class="fw-bold title" data-key="nav_title"></span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/" data-key="nav_home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" data-key="nav_about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/work" data-key="nav_work">Our work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" data-key="nav_contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link flash-btn" href="/donate" data-key="nav_donate">Donation</a>
                </li>
                <!-- Language Dropdown -->
                <li class="nav-item">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"data-key="nav_language"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" onclick="setLanguage('en_lang')">English</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setLanguage('mr_lang')">मराठी</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>